<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>LATO-BLA.TTF</string>
		<string>LATO-BLAITA.TTF</string>
		<string>LATO-BOL.TTF</string>
		<string>LATO-BOLITA.TTF</string>
		<string>LATO-HAI.TTF</string>
		<string>LATO-HAIITA.TTF</string>
		<string>LATO-LIG.TTF</string>
		<string>LATO-LIGITA.TTF</string>
		<string>LATO-REG.TTF</string>
		<string>LATO-REGITA.TTF</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.instawings.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>InstagramAppSecretKey</key>
	<string>c5e23866a68c4c5084ff0d44055311c4</string>
	<key>InstagramAppRedirectURL</key>
	<string>http://localhost/instapromo/Instagram-PHP-API-master/success.php</string>
	<key>InstagramAppClientId</key>
	<string>a495e8b368e94dcba24b8f5e5023397c</string>
</dict>
</plist>
